html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../img/乐园3.jpg")no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}
.top-nav-collapse {
    background-color: #24355C;
  }
.example-1{
    margin-bottom: 30px;
}